archive/test-split-in-batches.json
{
  "name": "Test Split In Batches - Minimal",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Create test items\nconst items = [\n  { id: 1, name: 'Item One' },\n  { id: 2, name: 'Item Two' },\n  { id: 3, name: 'Item Three' },\n  { id: 4, name: 'Item Four' },\n  { id: 5, name: 'Item Five' }\n];\n\nconsole.log('🔧 Creating', items.length, 'test items');\n\nreturn items.map(item => ({ json: item }));"
      },
      "id": "create-items",
      "name": "Create Test Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconsole.log('🔄 Processing item:', item.id, '-', item.name);\nconsole.log('Context - Batch:', $node[\"Split In Batches\"].context);\n\nreturn [{ json: { ...item, processed: true, timestamp: new Date().toISOString() } }];"
      },
      "id": "process-item",
      "name": "Process Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconsole.log('✅ COMPLETED - Total items processed:', items.length);\nconsole.log('Items:', items.map(i => i.json.name).join(', '));\n\nreturn items;"
      },
      "id": "final-summary",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 450]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Create Test Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Items": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Process Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Item": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
